/* Застосовується коли ширина в'юпорта більше або дорівнює 320px */
@media (min-width: 320px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .page-header {
    padding: 0;
  }
  .menu {
    display: flex;
    margin-left: 120px;
  }
  .menu-open-button {
    display: none; /* Сховати кнопку відкриття меню на планшетах та десктопах */
  }
  .contact-info {
    display: flex;
    align-items: center;
  }
  .contacts {
    flex-direction: column;
    gap: 12px;
    font-size: 12px;
    line-height: 1.17;
  }
  .header .header-container {
    padding: 0 16px;
  }
  
  .hero {
    padding: 112px 136px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    max-width: 768px;
  }
  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tablet-2x.jpg);
    }
  }
  .hero .container {
    padding: unset;
  }
  .page-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .benefit {
    row-gap: 72px; /* Відстань між рядками */
    column-gap: 24px; /* Відстань між стовпцями */
  }
  .benefit-items {
    width: calc((100% - 24px) / 2); /* Дві колонки на планшетах */
  }
  .teams {
    row-gap: 64px; /* Відстань між рядками */
    column-gap: 24px; /* Відстань між стовпцями */
  }
  .team-member {
    width: calc((100% - 24px) / 2); /* Три колонки на планшетах */
    max-width: 264px; /* Максимальна ширина картки учасника команди */
  }
  .portfolios {
    row-gap: 74px; /* Відстань між рядками */
    column-gap: 24px; /* Відстань між стовпцями */
  }
  .project-card {
    width: calc((100% - 24px) / 2); /* Дві колонки на планшетах */
    max-width: 356px; /* Максимальна ширина картки проекту */
  }
  .project-image img {
    width: 356px;
    height: 300px;
  }
  /*===== Footer =====*/
  .footer .container {
   flex-wrap: wrap;
   flex-direction: row;
   gap: unset;
   padding: 0 108px;
  }
  .footer-line {
    max-width: 264px;
    margin-right: 24px;
    margin-bottom: 72px;
  }
  .logo-down {
    margin-left: unset;
  }
  .footer-social-icons {
    margin: 0;
  }
  .social-icon-title {
    text-align: left;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  /*Modal window*/
  .modal-window {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
    
  }
  .menu {
    margin-left: 76px;
  }
  .contacts {
    flex-direction: row;
    font-size: 16px;
    line-height: 1.5;
    gap: 40px;
  }
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-PC.jpg);
    max-width: 1440px;
  }
  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-PC-2x.jpg);
    }
  }
  .page-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefit-icon {
    display: flex; /* Показуємо іконки на планшетах та десктопах */
    align-items: center; /*вирівнюємо іконки по вертикалі*/
    justify-content: center; /*вирівнюємо іконки по горизонталі*/
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
  }
  .benefit-items,
  .team-member {
    width: calc((100% - 72px) / 4); /* Чотири колонки на десктопах */
  }
  .benefit-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .benefit-text {
    font-weight: 400;
    font-size: 16px;
  }
  .portfolios {
    padding: 0 15px;
    row-gap: 48px;
  }
  .project-card {
    width: calc((100% - 48px) / 3); /* Дві колонки на планшетах */
    max-width: 360px; /* Максимальна ширина картки проекту */
  }
  .our-team {
    padding: 120px 0;
  }
  .team {
    gap: 24px;
  }
  .team-member {
    width: calc((100% - 72px) / 4); /* Чотири колонки на десктопах */
  }
  .project-card {
    box-shadow: none;
  }
  .project-card:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); /* тінь */
  }
  .footer .container {
    padding: unset;
    margin: 100px auto;
    padding: 0 15px;
  }
  .footer-line {
    margin-right: 120px;
    margin-bottom: unset;
  }
  .footer-social-icons {
    margin-right: 80px;
  }
  .footer-input {
    max-width: 264px;
  }
}
