/* Застосовується коли ширина в'юпорта більше або дорівнює 320px */
@media (min-width: 320px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
}

/* Застосовується коли ширина в'юпорта більше або дорівнює 768px */
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header-container {
    max-width: 768px;
    margin: 0 auto;
  }
  .menu-button {
    display: none;
  }
  /* Menu Nav */
  .menu {
    display: flex;
    gap: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  /*Contacts*/
  .contact-info {
    display: flex;
    margin-right: 16px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
  }

  /*--===== Hero Image =====--*/
  .hero {
    max-width: 768px;
    padding-top: 112px;
    padding-bottom: 112px;
  }
  .page-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /*--===== Features =====--*/
  .benefit {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }
  .benefit-items {
    width: calc((100% - 24px) / 2);
  }
  .benefit-item {
    
    max-height: 120px;
  }
  .benefit-title {
    text-align: left;
  }

  /*--===== Our Team =====--*/
  .our-team .container {
    padding: auto 108px;
  }
  .teams {
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 64px;
  justify-content: center;
  }
  .team-member {
    width: calc((100% - 64px) / 2);
    margin: 0;
    
  }
.team-member img {
  width: 264px;
}
  /*--===== Our Portfolio =====--*/
  .portfolios {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .project-card {
    width: calc((100% - 24px) / 2);
  }

  /*--===== Footer =====--*/
  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 96px 0;
    column-gap: 24px;
    max-width: 768px;
    margin-left: 108px;
  }
  .social-icon-title {
    display: block;
    text-align: left;
  }
  .footer-subscribe {
    max-width: 453px;
    margin-right: auto;
  }

  .footer-subscribe div {
    display: flex;
    flex-direction: row;
    gap: 24px;
   
  }
  .footer-line {
    max-width: 264px;
  }
  .footer-social-icons {
  margin-left: 0;
  }
  .logo-down {
    text-align: left;
  }
}